@font-face {
  font-family: Poppins;
  src: url("/src/Poppins.ttf");
}

@keyframes blink {
  0% { background-color: black; }
  50% { background-color: purple; }
  100% { background-color: black; }
}

body {
  font-family: Poppins;
  animation: blink 0.2s infinite;
}
